<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RelayoutKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D91CAFCA1BA0B1EA00064013</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D972C2631BA05F7700D660A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D972C26D1BA05F7700D660A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
